#IntelliJ Idea
*.iml
*.idea

#Eclipse
.classpath
.project
.settings

#Application Logs
src/main/java/com/maxbilbow/aicubo/config/logs
logs/*.log

#Maven
target

#WebApp Artifacts
src/main/webapp/WEB-INF/lib
src/main/webapp/WEB-INF/classes