<?xml version="1.0" encoding="UTF-8" ?>
   <configuration scan="true">
   <!--<property name="configDir" value="./config" />-->

    <!-- logging to console -->
   <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%d{dd-MM-yyyy HH:mm:ss} - %c [%t] %-5p - %m%n</pattern>
      </layout>
   </appender>

    <!-- logging to system file -->
   <appender name="system-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>./logs/system.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>./logs/system.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>500MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>%d{dd-MM-yyyy HH:mm:ss} - %c [%t] %-5p - %m%n</pattern>
    </encoder>
       <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
           <level>WARN</level>
       </filter>
   </appender>

    <!-- logging to asn log file -->
    <appender name="app-log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/main.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/main.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss} - %c [%t] %-5p - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <logger name="com.maxbilbow" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="app-log"/>
        <appender-ref ref="console"/>
    </logger>


    <root level="WARN">
       <appender-ref ref="console"/>
       <appender-ref ref="system-file"/>
   </root>

 </configuration>